In [ ]:
# ANALISIS SEMANTICO

In [ ]:
import spacy

In [ ]:
nlp = spacy.load('es_core_news_lg')

#nlp será un diccionario que converitra las oraciones y palabras en un vertor
# de 300 numeros/dimensiones... con esos número trabajaremos

In [ ]:
#las dimensiones de una palabra

nlp(u'tigre').vector

In [ ]:
#las dimensiones de una frase

nlp(u'el elefante es grande').vector

In [ ]:
print(nlp(u'tigre').vector.shape)
print(nlp(u'el elefante es grande').vector.shape)

In [ ]:
# comparar a nivel semantico

palabras = nlp(u'tigre leopardo piedra')

#sera un bucle doble para comparar de a pares

for palabra1 in palabras:
    for palabra2 in palabras:
        print(palabra1.text, palabra2.text, palabra1.similarity(palabra2))

In [ ]:
#son 500.000 palabras con un vector de 300 cada uno
nlp.vocab.vectors.shape

In [ ]:
#para analizar palabras

pal = nlp(u'tigre leopardo cuchcahchius')

for palabra in pal:
    print(palabra.text, palabra.has_vector, palabra.vector_norm, palabra.is_oov)
#el úoltimo me dice si existe en el diccionario

In [35]:
# ANALISIS DE SIGNIFICADO

#Analisis de textos SIN ETIQUETAS

In [36]:
import numpy as np
import pandas as pd
import nltk

In [37]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\MegaTecnologia\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [38]:
cd C:\Users\MegaTecnologia\Documents\Udemy - Procesamiento del lenguaje natural con NLP y Python\Datasets

C:\Users\MegaTecnologia\Documents\Udemy - Procesamiento del lenguaje natural con NLP y Python\Datasets

In [39]:
datos = pd.read_csv('peliculas.tsv', sep='\t')

In [40]:
datos.head()

  etiqueta                                           revision
0      pos  the happy bastard's 30-second review \r\nbig d...
1      neg  hollywood never fails to astound me . \r\never...
2      neg  this is your definitive " hollywood " movie , ...
3      pos  for those of us who weren't yet born when the ...
4      pos                                                NaN

In [42]:
datos.shape

(1473, 2)

In [ ]:
#DATA CLEANING

In [43]:
# Esto borra los NaN, pero no lo vacíos
datos.dropna(inplace=True)

In [44]:
# Esto borra los en blanco
blancos = []

for i,label,revision in datos.itertuples():
    if revision.isspace():
        blancos.append(i)

In [45]:
blancos

[11,
 15,
 147,
 171,
 177,
 187,
 207,
 215,
 291,
 365,
 497,
 539,
 679,
 797,
 1027,
 1106,
 1144,
 1176,
 1182,
 1380,
 1468]

In [46]:
datos.drop(blancos, inplace=True)

In [47]:
datos.shape

(1423, 2)

In [ ]:
#analisis de significado

In [48]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [49]:
analizador = SentimentIntensityAnalyzer()

In [52]:
#crearemos una columna con el análisis... ese será nuesta etiqueta

datos['analisis'] = datos['revision'].apply(lambda revision:analizador.polarity_scores(revision))

In [53]:
datos.head()

,etiqueta,revision,analisis
0,pos,the happy bastard's 30-second review \r\nbig d...,"{'neg': 0.061, 'neu': 0.755, 'pos': 0.183, 'co..."
1,neg,hollywood never fails to astound me . \r\never...,"{'neg': 0.135, 'neu': 0.766, 'pos': 0.099, 'co..."
2,neg,"this is your definitive "" hollywood "" movie , ...","{'neg': 0.056, 'neu': 0.817, 'pos': 0.127, 'co..."
3,pos,for those of us who weren't yet born when the ...,"{'neg': 0.052, 'neu': 0.807, 'pos': 0.141, 'co..."
5,neg,"there's a good , and timely , story trapped de...","{'neg': 0.172, 'neu': 0.707, 'pos': 0.121, 'co..."

In [54]:
datos['analisis'][1] #esta sería la valoración del dato 1

{'neg': 0.135, 'neu': 0.766, 'pos': 0.099, 'compound': -0.9926}

In [56]:
#lo mejor es trabajar con el compound... que es una sintesis de las 3 variables,
#por eso le vamos a poner en una columan aparte

datos['resultados'] = datos['analisis'].apply(lambda d : d['compound'])

In [57]:
datos.head(10)

,etiqueta,revision,analisis,resultados
0,pos,the happy bastard's 30-second review \r\nbig d...,"{'neg': 0.061, 'neu': 0.755, 'pos': 0.183, 'co...",0.9957
1,neg,hollywood never fails to astound me . \r\never...,"{'neg': 0.135, 'neu': 0.766, 'pos': 0.099, 'co...",-0.9926
2,neg,"this is your definitive "" hollywood "" movie , ...","{'neg': 0.056, 'neu': 0.817, 'pos': 0.127, 'co...",0.9877
3,pos,for those of us who weren't yet born when the ...,"{'neg': 0.052, 'neu': 0.807, 'pos': 0.141, 'co...",0.9954
5,neg,"there's a good , and timely , story trapped de...","{'neg': 0.172, 'neu': 0.707, 'pos': 0.121, 'co...",-0.9721
6,neg,the original _babe_ was my favorite movie of 1...,"{'neg': 0.1, 'neu': 0.744, 'pos': 0.156, 'comp...",0.9970
7,pos,while screen adaptations of john irving's nove...,"{'neg': 0.025, 'neu': 0.852, 'pos': 0.124, 'co...",0.9917
8,pos,taking a few tips from the pulp fiction school...,"{'neg': 0.09, 'neu': 0.718, 'pos': 0.191, 'com...",0.9963
9,pos,"no , it is not a bad film , in fact it is so g...","{'neg': 0.087, 'neu': 0.776, 'pos': 0.137, 'co...",0.9845
10,pos,"clint eastwood , in his ripe old age , is cash...","{'neg': 0.097, 'neu': 0.677, 'pos': 0.226, 'co...",0.9975

In [62]:
#ahora los valores numericos los pasaremos a valores de etiquetas, veremos además
# si coinciden con las etiquetas

datos['prediccion'] = datos['resultados'].apply(lambda resultados: 'pos' if resultados >= 0 else 'neg')

In [63]:
datos.head(10)

,etiqueta,revision,analisis,resultados,prediccion
0,pos,the happy bastard's 30-second review \r\nbig d...,"{'neg': 0.061, 'neu': 0.755, 'pos': 0.183, 'co...",0.9957,pos
1,neg,hollywood never fails to astound me . \r\never...,"{'neg': 0.135, 'neu': 0.766, 'pos': 0.099, 'co...",-0.9926,neg
2,neg,"this is your definitive "" hollywood "" movie , ...","{'neg': 0.056, 'neu': 0.817, 'pos': 0.127, 'co...",0.9877,pos
3,pos,for those of us who weren't yet born when the ...,"{'neg': 0.052, 'neu': 0.807, 'pos': 0.141, 'co...",0.9954,pos
5,neg,"there's a good , and timely , story trapped de...","{'neg': 0.172, 'neu': 0.707, 'pos': 0.121, 'co...",-0.9721,neg
6,neg,the original _babe_ was my favorite movie of 1...,"{'neg': 0.1, 'neu': 0.744, 'pos': 0.156, 'comp...",0.9970,pos
7,pos,while screen adaptations of john irving's nove...,"{'neg': 0.025, 'neu': 0.852, 'pos': 0.124, 'co...",0.9917,pos
8,pos,taking a few tips from the pulp fiction school...,"{'neg': 0.09, 'neu': 0.718, 'pos': 0.191, 'com...",0.9963,pos
9,pos,"no , it is not a bad film , in fact it is so g...","{'neg': 0.087, 'neu': 0.776, 'pos': 0.137, 'co...",0.9845,pos
10,pos,"clint eastwood , in his ripe old age , is cash...","{'neg': 0.097, 'neu': 0.677, 'pos': 0.226, 'co...",0.9975,pos

In [65]:
#para verificar si lo hizo bien

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [67]:
accuracy_score(datos['etiqueta'], datos['prediccion'])

0.6394940267041461

In [68]:
print(classification_report(datos['etiqueta'], datos['prediccion']))

              precision    recall  f1-score   support

         neg       0.74      0.44      0.55       717
         pos       0.60      0.85      0.70       706

    accuracy                           0.64      1423
   macro avg       0.67      0.64      0.62      1423
weighted avg       0.67      0.64      0.62      1423

In [69]:
print(confusion_matrix(datos['etiqueta'], datos['prediccion']))

[[313 404]
 [109 597]]